In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv('../dbd_lend_data.csv')

In [40]:
df.head()

,loan_amnt,term,int_rate,annual_inc,verification_status,loan_status
0,10000,36 months,11.44,117000.0,Not Verified,Fully Paid
1,8000,36 months,11.99,65000.0,Not Verified,Fully Paid
2,15600,36 months,10.49,43057.0,Source Verified,Fully Paid
3,7200,36 months,6.49,54000.0,Not Verified,Fully Paid
4,24375,60 months,17.27,55000.0,Verified,Charged Off

In [41]:
df = df.drop('verification_status',axis=1)

In [42]:
df.head()

   loan_amnt        term  int_rate  annual_inc  loan_status
0      10000   36 months     11.44    117000.0   Fully Paid
1       8000   36 months     11.99     65000.0   Fully Paid
2      15600   36 months     10.49     43057.0   Fully Paid
3       7200   36 months      6.49     54000.0   Fully Paid
4      24375   60 months     17.27     55000.0  Charged Off

In [43]:
df['loan_status'].value_counts()

Fully Paid     318357
Charged Off     77673
Name: loan_status, dtype: int64

In [44]:
df['loan_status'] = df['loan_status'].apply(lambda loan : 1 if loan == 'Fully Paid' else 0)

In [45]:
df.head()
df['term'] = df['term'].apply(lambda term : int(term[:3]))
df.head()

   loan_amnt  term  int_rate  annual_inc  loan_status
0      10000    36     11.44    117000.0            1
1       8000    36     11.99     65000.0            1
2      15600    36     10.49     43057.0            1
3       7200    36      6.49     54000.0            1
4      24375    60     17.27     55000.0            0

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X = df.drop('loan_status',axis=1).values

In [48]:
y = df['loan_status'].values

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [50]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [51]:
X_train.shape

(316824, 4)

In [52]:
model = Sequential()

model.add(Dense(4,activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(2,activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(units=1,activation='sigmoid'))

model.compile(loss = 'binary_crossentropy',optimizer='adam')

In [53]:
model.fit(x=X_train,y=y_train,epochs=25,batch_size=256,validation_data=(X_test,y_test))

Epoch 1/25
1238/1238 [==============================] - 3s 2ms/step - loss: 1240.3731 - val_loss: 0.7400
Epoch 2/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.8417 - val_loss: 0.6453
Epoch 3/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.7497 - val_loss: 0.5916
Epoch 4/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.8188 - val_loss: 0.5444
Epoch 5/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.8958 - val_loss: 0.5198
Epoch 6/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.7623 - val_loss: 0.4958
Epoch 7/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.6955 - val_loss: 0.4958
Epoch 8/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.6146 - val_loss: 0.4958
Epoch 9/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.6508 - val_loss: 0.4959
Epoch 10/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.6157 - val_loss: 0.4958
Epoch 11/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.5269 - val_loss: 0.4958
Epoch 12/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.5080 - val_loss: 0.4958
Epoch 13/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4979 - val_loss: 0.4957
Epoch 14/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4949 - val_loss: 0.4957
Epoch 15/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4957 - val_loss: 0.4958
Epoch 16/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4961 - val_loss: 0.4957
Epoch 17/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4933 - val_loss: 0.4958
Epoch 18/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4965 - val_loss: 0.4957
Epoch 19/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4951 - val_loss: 0.4957
Epoch 20/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4938 - val_loss: 0.4957
Epoch 21/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4941 - val_loss: 0.4957
Epoch 22/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4940 - val_loss: 0.4957
Epoch 23/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4957 - val_loss: 0.4958
Epoch 24/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.4934 - val_loss: 0.4957
Epoch 25/25
1238/1238 [==============================] - 2s 2ms/step - loss: 0.5161 - val_loss: 0.4957

In [54]:
model.save('lending.h5')

In [55]:
from tensorflow.keras.models import load_model

In [56]:
p2p_model = load_model('lending.h5')

In [57]:
df.head(1)

   loan_amnt  term  int_rate  annual_inc  loan_status
0      10000    36     11.44    117000.0            1

In [58]:
def return_prediction(model,sample_json):

  l_amnt = sample_json["loan_amnt"]
  t = sample_json["term"]
  i_rate = sample_json["int_rate"]
  a_inc = sample_json["annual_inc"]

  loan = [[l_amnt,t,i_rate,a_inc]]

  loan_status_pred = model.predict(loan)[0]

  return loan_status_pred[0]

In [61]:
loan_example = {"loan_amnt":10000000 , "term":60 , "int_rate":11.44 , "annual_inc":20000}

In [62]:
return_prediction(p2p_model,loan_example)

0.8043009

In [30]:
#CODE FOR DEPLOYMENT

In [83]:
from tensorflow.keras.models import load_model
import joblib

p2p_model = load_model('lending.h5')
p2p_scaler = joblib.load('lending_scaler.pk1')

def return_prediction(model,scaler,sample_json):

  l_amnt = sample_json["loan_amnt"]
  t = sample_json["term"]
  i_rate = sample_json["int_rate"]
  a_inc = sample_json["annual_inc"]

  loan = [[l_amnt,t,i_rate,a_inc]]

  loan = scaler.transform(loan)

  loan_status_pred = model.predict(loan)[0]

  return loan_status_pred[0]

C:\Users\likhith\AppData\Roaming\Python\Python37\site-packages\sklearn\base.py:315: UserWarning: Trying to unpickle estimator MinMaxScaler from version 0.22.2.post1 when using version 0.24.0. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)